[submodule "external/libunwind-ndk"]
	path = external/libunwind-ndk
	url = https://github.com/Psiphon-Inc/libunwind-ndk.git
[submodule "external/libunwindstack-ndk"]
	path = external/libunwindstack-ndk
	url = https://github.com/Psiphon-Inc/libunwindstack-ndk.git
[submodule "external/libcorkscrew-ndk"]
	path = external/libcorkscrew-ndk
	url = https://github.com/Psiphon-Inc/libcorkscrew-ndk.git
